# dependencies
node_modules/

# cli
cli/dist/
cli/data/
cli/.env
cli/config.yaml
cli/.wrangler

# web
web/.next/
web/out/
web/.vercel
web/next-env.d.ts
web/*.tsbuildinfo

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
